.SessaoImgs {
  gap: 2%;
  width: min-content;
  height: min-content;
}

.SessaoImgsCaixa img {
  width: 300px;
  height: 350px;
  margin-bottom: 2%;
  border-radius: 10px;
}

@media (max-width: 920px) {
  /* .SessaoImgsCaixa img {
    width: 200px;
    height: 250px;
  } */
}

@media (min-width: 420px) {
  .SessaoImgsCaixa img {
    width: 300px;
    height: 350px;
    margin-bottom: 2%;
    border-radius: 10px;
  }
}



