.KitsCaixa {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2% 10%;
  margin-bottom: 5%;
}

.KitsTexto {
  display: grid;
  padding: 2%;
}

.KitsTexto1 span {
  font-size: 1.5rem;
  color: #fdf2a0;
}

.KitsTexto2 {
  display: grid;justify-content: space-between;
  align-items: center;
  color: #81807f;
}

.KitsTexto h2 {
  font-size: 3rem;
  color: #EBB1F7;
}

.KitsTexto p {
  font-size: 1.1rem;
  color: #81807f;
  margin-right: 20%;
}

.KitsA {
  display: flex;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  gap: 2%;
}

.KitsA a {
  padding: 3%;
  display: flex;
  background: #8DB0D2;
  border-radius: 50%;
}

.KitsA a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
  transition: 0.4s;
}

.KitsTexto button {
  width: 80%;
  padding: 6px 10px;
  border: none;
  border-radius: 25px 0px;
  background: #EBB1F7;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.KitsTexto button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.4s;
}

.KitsTexto a {
  color: #ffffff; 
}

.KitsImg {
  display: grid;
  /* justify-content: center; */
  align-items: center;
}

.KitsImg img {
  border-radius: 10px;
  width: 25rem;
}

.KitsImg img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.4s;
}


@media (max-width: 1400px) {
  .KitsImg {
    justify-content: center;
  }
  .KitsImg img {
    width: 20rem;
  }
}

@media (max-width: 1050px) {
  .KitsTexto {
    gap: 2%;
  }
  .KitsTexto2 {
    gap: 5%;
  }
  .KitsImg {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .KitsCaixa {
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 80px;
  }
  .KitsTexto2 {
    display: grid;
    gap: 10%;
    justify-content: center;
    justify-items: center;
  }
  .KitsTexto p {
    margin-right: 0%;
  }
  .KitsA {
    display: none;
    margin-top: 2%;
  }
  .KitsTexto button {
    margin-top: 3%;
  }
  .KitsImg {
    margin-top: 10%;
  }
}


