.MenuLateral p {
  font-size: 1.5rem;
  color: #d2c9d0;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  padding: 30px 30px 5px 30px;
}

.MenuLateralCaixa {
  width: 220px;
  border: 2px solid #00000009;
  box-shadow: -10px 10px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0px 20px 100px;
}

.MenuLateral ul {
  width: 220px;
  margin: 0;
}

.MenuLateral li {
  align-items: center;
  padding: 20px 30px;
}

.MenuLateral li:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
  transition: 0.4s;
}

.MenuLateral button {
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  color: #8DB0D2;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.MenuLateral .active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 700px) {
  .MenuLateralCaixa {
    display: grid;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0px 20px 20px;
  }
  .MenuLateral {
    display: grid;
    justify-items: center;
    justify-content: center;
  }
  .MenuLateral ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .MenuLateral li {
  padding: 5px 15px;
}
}


