.Pagekitsf {
  display: flex;
  justify-content: center;
  background-image: url('../../../public/img/banner.svg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 2%;
  margin-top: -80px;
  margin-bottom: 70px;
  gap: 10%;
}

.PageKits {
  display: grid;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
  color: rgb(255, 255, 255);
}

.PageKits span {
  color: #EBB1F7;
  font-size: 1.5rem;
}

.PageKits h2 {
  font-size: 4rem;
}

.PageKits p {
  font-size: 1.3rem;
  color: #ffffff;
  padding: 0px 250px;
}

.SessaoProdutos {
  display: flex;
  justify-content: center;
  margin: 5%;
  gap: 1px;
}

@media (max-width: 1000px) {
  .PageKits {
    padding-top: 10%;
    padding-bottom: 5%;
;
  }
  .PageKits p {
    padding: 0px 50px;
  }
}

@media (max-width: 780px) {
  .Pagekitsf {
    margin-bottom: 20px;
    padding-top: 15%;
    padding-bottom: 10%;
  }
  
  .PageKits p {
    padding: 0px 50px;
  }
}

