.Pagekitsf {
  display: flex;
  justify-content: center;
  background-image: url('../../../public/img/banner3.png');
  background-size: cover;
  padding: 2%;
  margin-top: -80px;
  gap: 10%;
}

.PageKits {
  display: grid;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
  color: aliceblue;
}

.PageKits span {
  color: #EBB1F7;
  font-size: 1.5rem;
}

.PageKits h2 {
  font-size: 4rem;
}

.PageKits p {
  font-size: 1.5rem;
}

