.Pagekitsf {
  display: flex;
  justify-content: center;
  background-image: url('../../../public/img/banner.svg');
  background-size: cover;
  background-attachment: fixed;
  padding: 2%;
  margin-top: -80px;
  gap: 10%;
}

.PageKits {
  display: grid;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
  color: rgb(255, 255, 255);
}

.PageKits span {
  color: #EBB1F7;
  font-size: 1.5rem;
}

.PageKits h2 {
  font-size: 4rem;
}

.PageKits p {
  font-size: 1.3rem;
  color: #ffffff;
  padding: 0px 250px;
}

.SessaoProdutos {
  display: flex;
  justify-content: center;
  margin: 5%;
  gap: 1px;
}

